body, html {
  height: 100%;
  background: #fff;
  margin: 0;
  font-size: 16px;
  font-family: Geneva, sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #665;

}

.button {
  background-color: #FF5733;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.resume{
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resbutton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.pic_1{
  position:relative;
  opacity: 0.9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.pic_1{
  background-image: url('pic_1.jpg');
  min-height: 100%;
  background-color: #fff;
}

.section{
  text-align: center;
  padding: 50px 80px;
}

.section-bio{
  color: ##e73c7e;
}

.section-projects{
  color: ##e73c7e;
  font-size: 20px;
}

.wrapper{
  text-align: center;
  padding-bottom: 80px;
  font-size: 20px;
}
.media{
  position: absolute;
  top:40&;
  left: 50%;
  transform: translate(-53%,10%);


}


li{
  list-style: none;
  margin: 10px 30px;
  display: inline-block;
  font-size: 20px;
  padding: 20px 20px;
  color: #292929;
  border: 1px solid #292929;
  border-radius: 50%;
  transition: .5s;
}

li:hover{
  color: #292929;
  border: 1px solid #292929;
  transition: .5s;
  background-color: #fae4a4;
}



.text{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
